@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Ethnocentric";
  src: url("./assets/font/ethnocentric.eot");
  src: url("./assets/font/ethnocentric.eot?#iefix")format("embedded-opentype"),
    url("./assets/font/ethnocentric.woff")format("woff"),
    url("./assets/font/ethnocentric.woff2")format("woff2"),
    url("./assets/font/ethnocentric.ttf")format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* h1 {
  font-family: "Ethnocentric";
} */

@layer components {
  .ethnocentric {
    font-family: "Ethnocentric";
  }

  h1 {
    @apply text-gray-50 ethnocentric;
  }

  h2 {
    @apply text-3xl font-bold text-gray-100 md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-gray-200 font-bold text-[3vh] md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-gray-200 text-[3vh] md:text-xl lg:text-2xl font-bold;
  }

  h5 {
    @apply text-base font-semibold md:text-lg lg:text-xl;
  }

  p {
    @apply text-base text-gray-100 md:text-base 2xl:text-lg;
  }

  .btn-primary {
    @apply px-5 py-2 font-semibold text-white bg-blue-500 rounded-full shadow-md hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-400 focus:ring-opacity-75;
  }
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}